click==6.7
Flask==1.0
Flask-Cors==3.0.3
gitdb2==2.0.3
GitPython==2.1.7
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
Markdown==2.6.9
MarkupSafe==1.0
PyYAML==5.1
six==1.11.0
smmap2==2.0.3
Werkzeug==0.15.3
